<section class="service_section" id="service">
<div class="container">
    <h2 class="title_position"> Service </h2>
  <div class="row justify-content-center">
    <div class="card text-center service_box">
      <div class="card-body">

        <i class="fas fa-laptop-code"></i>

      <h2 class="service_name">Development</h2>
      <p class="service_description">I develop web app and Mobile app (andriod and ios).
      It's fully dynamic and powerfull database connected.</p>
      </div>
    </div>
    <div class="card text-center service_box">
      <div class="card-body">

        <i class="fas fa-laptop"></i>
      <h2  class="service_name">Web Design</h2>
      <p class="service_description">I make a great web Design . It's neat and clean code and responsive any kind of device range</p>
      </div>
    </div>
    <div class="card text-center service_box">
      <div class="card-body">
        <i class="fas fa-code"></i>
      <h2  class="service_name">Technoloy</h2>
      <p>I use Technoloy to make and develop web app and Mobile app.
      that Technoloy is HTML,CSS, BOOTRAP, PYTHON, JAVASCRIPT, REACT, DJANGO
       </p>
      </div>
    </div>
    <div class="card text-center service_box">
      <div class="card-body">
        <i class="fas fa-tools"></i>
      <h2 class="service_name">Tools</h2>
      <p> I use Various tools to make and develop any kind of web app and mobile app.
        that tool is VS CODE,CMDER,ATOM,GITHUB,HEROKU,DIGITAL OCEAN, AWS
      </p>
      </div>
    </div>
  </div>
</div>
</section>
