<div class="container">
  <h2 class="title_position"> Skills </h2>
  <h2 class="skill_name">html</h2>
  <div id="bar1" class="barfiller">
<span class="tip"></span>
<span class="fill" data-percentage="95"></span>
</div>

<h2 class="skill_name">css</h2>
<div id="bar2" class="barfiller">
<span class="tip"></span>
<span class="fill" data-percentage="90"></span>
</div>

<h2 class="skill_name">Bootstrap</h2>
<div id="bar6" class="barfiller">
<span class="tip"></span>
<span class="fill" data-percentage="90"></span>
</div>

<h2 class="skill_name">JavaScript</h2>
<div id="bar3" class="barfiller">
<span class="tip"></span>
<span class="fill" data-percentage="70"></span>
</div>

<h2 class="skill_name">React</h2>
<div id="bar4" class="barfiller">
<span class="tip"></span>
<span class="fill" data-percentage="70"></span>
</div>

<h2 class="skill_name">Python</h2>
<div id="bar5" class="barfiller">
<span class="tip"></span>
<span class="fill" data-percentage="80"></span>
</div>
</div>
